/* COLLECTION */

:root {
  --blue: #1e90ff;
  --white: #ffffff; 
}

/* COLOR VARIABLES
----------------------------------------------- */
:root {
  --dark: #000000;
  --light: #FFFFFF;
}




/* BASE STYLES
----------------------------------------------- */
* {
  box-sizing: border-box;
}

body {
  background: var(--light); 
  color: var(--dark);
  margin: 0;
  padding: 0; 
  line-height: 1.3;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

img {
  max-width: 100%;
}





/* TYPOGRAPHY
----------------------------------------------- */
a {
  text-decoration: none;
  color: var(--dark);
}

a:hover {
  text-decoration: underline;
}

h1{
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  text-align: center;
}

h2{
  font-weight: 600;
  font-size: 64px;
  line-height: 75px;
  background-color: beige;
  }

p {
  font-weight: 500;
  font-size: 25px;
  line-height: 42px;
}

/* NAVIGATION
----------------------------------------------- */
header {
   border-right: 1px solid var(--dark);
}

nav {
font-weight: normal;
font-size: 48px;
line-height: 58px;
letter-spacing: -0.04em;
display: grid;
grid-template-columns: auto auto auto ;
justify-content: space-around;
}





/* MAIN
----------------------------------------------- */
main {

}

